:host {
  --padding: 8px;

  height: calc(100vh - (2 * var(--padding)));
  padding: var(--padding);
  display: block;
  overflow-y: scroll;

  background:
    radial-gradient(#007100, 15%, transparent 16%) 0 0,
    radial-gradient(#007500 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
  background-color: #308330;
  background-size: 16px 16px;
}

#top-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.card-pile-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
}