<div id="top-area">
  <div id="discard-area" class="card-pile-row">
    @for (discardPile of state.discardPiles(); track $index) {
      <app-card-pile [width]="cardWidth()" [cards]="discardPile" />
    }
  </div>

  <div id="draw-area" style="display: flex">
    <div class="active-draw-cards">
      {{ state.activeDrawCards().length }}
    </div>
    <app-card-pile [width]="cardWidth()" [cards]="state.drawPile()" />
  </div>
</div>

<div id="play-area" class="card-pile-row">
  @for (cardPile of state.cardPiles(); track cardPile) {
    <app-card-pile [width]="cardWidth()" [cards]="cardPile" [mode]="'stacked-row'" />
  }
</div>
