<div id="top-area">
  <div id="discard-area" class="card-pile-row">
    @for (discardPile of state.discardPiles; track $index) {
      <app-card-pile [width]="cardWidth()" [cards]="discardPile()" />
    }
  </div>

  <div id="draw-area" class="card-pile-row">
    <app-card-pile
      [width]="cardWidth()"
      [cards]="state.activeDrawCards()"
      [mode]="'row'"
      (onCardClicked)="currentDrawCardAction($event)"
    />
    
    <app-card-pile [width]="cardWidth()" [cards]="state.drawPile()" (click)="state.drawNextCards()" />
  </div>
</div>

<div id="play-area" class="card-pile-row">
  @for (cardPile of state.cardPiles; track $index) {
    <app-card-pile
      [width]="cardWidth()"
      [cards]="cardPile()"
      [mode]="'column'"
      (onCardClicked)="tryToPlayCard($event, cardPile)"
    />
  }
</div>
