/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  user-select: none;
  font-family: sans-serif;
}

:root {
  --color-red: rgb(255, 85, 85);
}